<section class="projectCon">

        <img src="/images/{{HeaderImg}}" alt="face img" class="promain">
        <div class="projectbody">

            <h1>{{ProjectTitle}}</h1>
            <p>{{ProjectText}}</p>

            <video controls>
                <source src="/images/{{BodyVideo}}" type="video/mp4">
            </video>

            {{#each images as |item|}}
                    <img src="/images/{{this}}" alt="projects img" class="proimg">
            {{/each}}

        </div>
        
</section>