<section class="projectCon">

        <img src="images/{{HeaderImg}}" alt="face img" class="promain">
        <div class="projectbody">

            <h1>{{ProjectTitle}}</h1>
            <p>{{ProjectText}}</p>

            <video controls>
                <source src="/images/{{BodyVideo}}" type="video/mp4">
            </video>

            <img src="/images/{{BodyImg}}" alt="projects img" class="proimg">

        </div>
        
</section>